<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>
    <h1 class="titulo">Dashboard de Ventas</h1>
    <h2 class="subtitulo">Sondeo y recolección de la empresa</h2>
    <table>
        <tr>
            <th>Cliente</th>
            <th>Barrio</th>
            <th>Mes</th>
        </tr>
        {% for item in ventas %}
        <tr>
            <td>{{ item.Cliente }}</td>
            <td>{{ item.Barrio }}</td>
            <td>{{ item.Mes }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{grafico|safe}}
            </div>
            <div class="col-md-6">
                {{fig3|safe}}
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{fig|safe}}
            </div>
            <div class="col-md-6">
                {{fig2|safe}}
            </div>
        </div>
    </div>

    <div>
        
    </div>
    
</body>